# Archivo de configuración
misvars.php

# Dependencias
vendor/
node_modules/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE/editores y entornos
.env
.env.local
.idea/
.vscode/
.vs/
*.sublime-project
*.sublime-workspace

# Logs y bases de datos
/logs/
*.log
*.sql
*.sqlite

# Archivos de caché
*.cache 
